.background {
  background-color: #bb9c77;
  height: 100vh;
}

.main {
  background-color: #fffbf5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // text-align: center;
  // width: 100%;
  border-radius: 39px 39px 0 0;
}

.mainContents {
  margin-top: 4vh;
  width: 100%;
  min-height: 100vh;
}
