.taglist {
  display: grid;
  grid-template-columns: repeat(2, auto); /* 2列 */
  grid-template-rows: repeat(2, auto); /* 2行 */
  // background-color: #f4e9d7;
  border: 1px solid #635038;
  border-radius: 12px;
  padding: 4% 5% 4% 4%;
  text-align: left;
  width: 100%;
  margin-top: 3%;

  .tag {
    display: flex;
    justify-content: space-between;
    color: #77634b;
    font-size: 1.3vh;
    align-items: center;
    padding: 0.5% 0;
    margin-left: 7%;
    margin-top: 1%;

    .delete {
      color: #635038;
      font-size: 1vh;
      font-weight: 700;
      background-color: #fffbf5;
      border: 1px solid #635038;
      border-radius: 8px;
      width: 5vh;
      height: 2vh;
      -webkit-transition: all .3s;
      transition: all .3s;
    }
    .delete:active{
    transform: scale(0.8,0.8);
    }
    .delete::after{
    transform: scale(1,1); 
    }
  }
}

.selectbox {
  width: 110%;
  display: flex;
  margin-top: 2%;

  .tagselect {
    width: 38%;
    position: relative;
  }

  .tagafter::after {
    position: absolute;
    content: "\25bc";
    color: #ffffff;
    font-size: 0.7rem;
    top: 25%;
    right: 0.5rem;
    pointer-events: none;
  }

    .tagbox{
      color: #635038;
      text-align: center;
      padding-left: 2vw;
      font-size: 12px
    }

  .levelselect {
    width: 38%;
    margin-left: 1%;
    position: relative;
  }

  .levelafter::after {
    position: absolute;
    content: "\25bc";
    color: #ffffff;
    font-size: 0.7rem;
    top: 25%;
    right: 0.5rem;
    pointer-events: none;
  }

  .levelbox{
      color: #635038;
      text-align: center;
      padding-left: 2vw;
      font-size: 12px

  }

  select {
    appearance: none;
    -webkit-appearance: none;
    outline: none;

    background-color: #f0eded;
    border: none;
    border-radius: 9px;
    width: 100%;
    height: 2.3vh;
  }

  .tagadd {
    color: #635038;
    font-size: 1.2vh;
    font-weight: 700;
    background-color: #fffbf5;
    border: 1px solid #635038;
    border-radius: 8px;
    margin-left: 3%;
    width: 5.3vh;
    height: 2.5vh;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .tagadd:active{
    transform: scale(0.8,0.8);
  }
  .tagadd::after{
    transform: scale(1,1); 
  }

  .placeholder {
  color: rgba(99, 80, 56, 0.5);
}
}
