.title {
  font-size: 12px;
  font-weight: bold;
  color: #635038;
  word-break: break-all;
  position: relative;
  top: 10vh;
  
}

.card {
  position: relative;
  top: 15vh;
  right: -32%;
}

.Deadline {
	font-size: 18px;
  font-weight: bold;
	color: #635038;
  position: relative;
  top: 25vh;
  right:-1%;
}
.Day {
	color: #77634B;
    font-size: 31px;
    font-family: "Jua", sans-serif !important;
    position: relative;
    top: 28vh;
    right: -24%;
    width: 50%;
    height: 9%;
    text-align: center;
    line-height: 2.5vh;
    font-weight: bold;
}

.Btn {
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央揃え */
  position: fixed;
  bottom: 50;
  right: 38%;
  width: 23vw;
}