.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  display: flex;
  font-size: 17px;
  font-weight: bold;
  color: #635038;
  word-break: break-all;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 3svh;
}

.author {
  margin-top: 3svh;
}

.card {
  display: flex;
  position: relative;
  top: 15vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.text {
  font-size: 12px;
  font-weight: bold;
  color: #635038;
  word-break: break-all;
  position: relative;
  top: 30vh;
  justify-content: center;
  align-items: center;
}

.Day {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  color: #635038;
  position: relative;
  top: 10vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.Btn {
  width: fit-content;
  position: relative;
  top: 15svh;
}
