.all {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.title {
  display: flex;
  font-size: 13px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #635038;
  font-weight: bold;
  border: 1px solid #635038;
  border-radius: 8px;
  width: 17vh;
  height: 4.5vh;
  margin-bottom: 7%;
}

.myProfile {
  margin-left: 1.3vh;
  padding-left: 1.3vh;
  color: #635038;
  margin-top: 1.3vh;
  margin-bottom: 3%;
  font-size: 1.9vh;
  font-family: "Alegreya Sans SC" !important;
  border-bottom: 1.25px solid #635038;
  width: 15vh;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.content {
  background-color: #f4e9d7;
  width: 90%;
  padding: 6%;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0vh 1.5vw 1.3vw 0.5vw rgb(27 55 99 / 25%);
  margin-bottom: 6%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #bb9c77;
  border-radius: 50px;
  box-shadow: 0vh 0.2vw 0.8vw 0.6vw rgb(27 55 99 / 30%);
}

/* テキスト関連の中央揃え */
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* テキストを中央揃え */
  text-align: center;
  width: 100%;
  height: 100%;
  color: #635038;
  font-weight: 599;
}

.bookName {
  font-size: 12px;
  position: relative;
  bottom: 1vh;
  text-align: center;
}

.return {
  color: #635038;
  display: flex;
  font-weight: bold;
  font-size: 13px;
  justify-content: center;
}
.returnTime {
  font-family: "Jua", sans-serif !important;
  position: relative;
  top: 0.15vh;
}

.userName {
  color: #77634b;
  font-size: 10px;
  position: relative;
  top: 1vh;
  border: #77634b solid 1px;
  border-radius: 32px;
  background-color: #bade99;
  width: 90%;
  height: 2.6vh;
  text-align: center;
  line-height: 2.5vh;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usersName {
  color: #77634b;
  font-size: 10px;
  position: relative;
  top: 1vh;
  border: #77634b solid 1px;
  border-radius: 32px;
  background-color: #fffbf5;
  width: 90%;
  height: 2.6vh;
  text-align: center;
  line-height: 2.5vh;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BookIcon {
  margin-left: 2%;
  box-shadow: 0vh 1.5vw 1.3vw 0.5vw rgb(27 55 99 / 20%);
}

.allProfile {
  margin-left: 1.3vh;
  padding-left: 1.3vh;
  color: #635038;
  margin-top: 4vh;
  margin-bottom: 3%;
  font-size: 1.9vh;
  font-family: "Alegreya Sans SC" !important;
  border-bottom: 1.25px solid #635038;
  width: 16vh;
}

.under {
  position: relative;
  top: 2vh;
}
