@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");

.whole {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    display: flex;
    flex-direction: column;
    //   text-align: center;
    align-items: center;
    justify-content: center;
    color: #635038;
    font-weight: bold;
    border: 1px solid #635038;
    border-radius: 7;
    width: 17vh;
    height: 4.5vh;
  }

  .bar {
    margin-top: 3vh;
  }
}

.myprofile {
  margin-left: 1.3vh;
  padding-left: 1.3vh;
  color: #635038;
  margin-top: 1.3vh;
  font-size: 1.9vh;
  font-family: "Alegreya Sans SC" !important;
  border-bottom: 1.5px solid #635038;
  width: 11.5vh;
}

.userProfile {
  display: flex;
  flex-direction: column;
}

.sabtitle {
  color: #635038;
  font-size: 11px;
  font-weight: bold;
  margin-left: 10%;
  margin-bottom: 3%;
  padding-bottom: 0.5%;
  border-bottom: 1.5px solid #635038;
  width: 10%;
}
