.returnButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  gap: 50;
  bottom: 40;
}
.back {
  flex-direction: column;
  width: 23%;
}
.return {
  flex-direction: column;

  width: 23%;
}

.contents {
  width: 100%;
  height: auto; /* 高さを内容に応じて可変にする */
  min-height: 100vh; /* これが固定されてると飛び出す可能性あり */
}

.Day {
  color: #77634b;
  font-size: 23px;
  font-weight: bold;
  font-family: "Jua", sans-serif !important;
  width: 90%;
  height: auto;
  text-align: center;
  line-height: 2.5vh;
  font-weight: bold;
  margin-left: 5%;
  margin-bottom: 30%;
}
