@import url("https://fonts.googleapis.com/css2?family=Jua&family=Sumana:wght@400;700&family=Yaldevi:wght@200..700&family=Yuji+Mai&display=swap");
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 2svh;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: #635038;
  word-break: break-all;
  position: absolute;
  top: 4svh;
  text-align: center;
}

.author {
  position: absolute;
  top: 10vh;
}

.text {
  font-size: 22px;
  font-weight: bold;
  color: #635038;
  word-break: break-all;
  position: absolute;
  top: 50svh;
  text-align: center;
}

.Btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60svh;
}
