.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 30px;
}

.title {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  color: #635038;
  word-break: break-all;

  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20%;
}

.returnCheck {
  padding-top: 15%;
  font-size: 20px;
  color: #635038;
  font-weight: bold;
}
.Btn {
  padding-top: 10%;
}
