.noBooks {
  text-align: center;
  color: #6b4f3b;
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
  background-color: #fdfaf5;
  width: 100vw;
  margin-top: 3svh;
}

.noBooks::after {
  content: "";
  display: block;
  width: 55%;
  position: absolute;
  left: 23%;
  height: 2px;
  background-color: #6b4f3b;
  margin-top: 7px;
  border-radius: 12px;
}

.noData {
  margin-top: 5svh;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #635038;
}

.btn {
  background-color: #e2999b;
  width: fit-content;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  margin-bottom: 6svh;
  font-size: 16px;
}
