.contents {
  margin-top: 2%;
  display: grid; /* flexは不要 */
  grid-template-columns: repeat(2, 1fr); /* 2列 */
  max-height: 50svh;
  overflow-y: auto;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  position: relative;
  top: -28svh;
  z-index: 111;
}

.card {
  margin-top: 10%;
  background-color: #f4e9d7;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%; /* 任意：カード幅を一定に */
  max-width: 200px; /* 必要なら制限 */
  height: 60%;
  position: relative;
}

.image {
  width: 70%;
  max-width: 200px;
  height: 120px; /* 明示的に高さを固定 */
  box-shadow: 0 1.5vw 1.3vw 0.5vw rgb(27 55 99 / 25%);
  position: relative;
  left: 25%;
  bottom: 10svh;
}

.text {
  font-size: 10px;
  color: #635038;
  width: 20ch; /* 約20文字ぶんの幅 */
  white-space: normal; /* 折り返し許可 */
  overflow-wrap: break-word;
  position: relative;
  bottom: 26%;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  font-size: 10px;
  font-weight: bold;
  color: white;
}
.ranking {
  width: fit-content;
  height: fit-content;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 53%;
  top: 15%;
  font-size: 5vw;
  font-weight: bold;
  color: white;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    90% 100%,
    75% 92%,
    50% 80%,
    25% 92%,
    10% 100%,
    0% 100%
  );
}

.gold {
  background-color: #f8d612;
}

.silver {
  background-color: #a3a3a3;
}

.bronze {
  background-color: #ba5d10; /* 銅色 */
}

.default {
  background-color: #e2e2e2; /* 4位以降はグレー */
}
