.BookInfo {
  padding: 8%;
  border-radius: 8%;
  max-width: 100%;
  margin: 0 auto;
}

.Title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5%;
  color: #635038;
  white-space: normal;
}

.hr {
  border: 2px solid #635038; /* ボーダーの太さと色 */
  margin: 4% 15;
}

.InfoBox {
  display: flex;
  align-items: center;
  margin-top: 4%;
}
.Author,
.Publisher {
  font-size: 13px;
  font-weight: bold;
  position: relative;
  right: -3%;
  top: 5vh;
  color: #635038;
}

.AuthorLabel,
.PublisherLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d5b58f;
  padding: 3%;
  border-radius: 11vh;
  font-size: 14px;
  width: 40%;
  height: 3.4vh;
  top: 40px;
  left: -13%;
  box-shadow: 0vh 0.5vw 1.3vw 0.5vw rgb(27 55 99 / 25%);
  position: relative;
}

.AuthorLabel::after {
  content: "";
  position: absolute;
  left: 20%;
  width: 4%;
  height: 100%;
  background-color: #fffbf5;
}

.PublisherLabel::before,
.PublisherLabel::after {
  content: "";
  position: absolute;
  width: 4%;
  height: 100%;
  background-color: #fffbf5;
}
.PublisherLabel::before {
  left: 20%;
}
.PublisherLabel::after {
  left: 28%;
}

.Label {
  margin-left: auto;
  font-size: 12px;
  font-weight: bold;
  color: #31291f;
}

.Description {
  height: 28vw;
  width: 70vw;
  font-size: 13px;
  margin-top: 9%;
  font-weight: bold;
  color: #635038;
  position: relative;
  top: 9vh;
  text-align: center;
  word-break: normal;
  line-height: 3.5vh;
  margin: 0 auto;
}

.ReadMore {
  position: relative;

}

.Input {
  display: none;
}

.ReadMore p {
  position: relative;
  height: 10vh;
  margin-bottom: 0;
  overflow: hidden;
  transition: max-height 1s;
}

.ReadMore:has(Input:checked) p {
  height: auto;
  padding-bottom: 1%;
}

.ReadMore:has(Input:checked) p::after {
  content: none;
}

.ReadMoreLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 28%;
  color: #bfbfbf;
  font-size: 0.8em;
  cursor: pointer;
  text-align: center;
}

.ReadMoreLabel:hover {
  color: #635038;
  text-decoration: underline;
}

.ReadCloseLabel {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 28%;
  color: #bfbfbf;
  font-size: 0.8em;
  cursor: pointer;
}

.ReadCloseLabel:hover {
  color: #635038;
  text-decoration: underline;
}

.ReadMore:has(Input:checked) .ReadMoreLabel {
  display: none;
}

.ReadMore:has(Input:checked) .ReadCloseLabel {
  display: flex;
}

.card {
  position: relative;
  right: -26%;
}
