.container {
  min-height: 100vh;         // 画面の高さ全体をカバー
  min-width: 100vw;          // 画面の幅全体をカバー
  place-items: center;
  background-image: url("../../../../public/login_background.svg");
  background-size: cover;
  background-position: center; // 画像を中央に
  width: 100%;
  height: 100%;
}

.whole {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);

}

.icon {
    width: 100%;
    height: auto;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 5vh;
}

.loginBtn {
  border: 2px solid #826640;
  border-radius: 30px;
  color: #635038;
  height: 4.5vh;
  width: 31vh;
  background: #fffbf5;
  box-shadow: 1px 1px 4px gray;
  font-weight: bold;
  font-size: 23px;
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  margin-left: 18%;

  transition: transform 0.1s;

  &:active {
    transform: scale(0.96);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }
}
