.container {
   display: grid;
  place-items: center;
}

.background,
.whole {
  grid-area: 1 / 1; // 同じ位置に重ねる
}

.whole {
  // background: #fffbf5;
  // background-image: url("/public/login_background.svg");
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  flex-direction: column;
}

.icon {
  margin-top: 7vh;
  margin-bottom: 10vh;
}

.loginBtn {
  border: 2px solid #826640;
  border-radius: 30px;
  color: #635038;
  height: 4.5vh;
  width: 31vh;
  background: #fffbf5;
  box-shadow: 1px 1px 4px gray;
  font-weight: bold;
  font-size: 23px;
  margin-top: 13vh;

  transition: transform 0.3s;

  &:active {
    transform: scale(1.03);
  }
}