.back {
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央揃え */
  position: fixed;
  bottom: 10;
  right: 55%;
}
.rental {
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央揃え */
  position: fixed;
  bottom: 10;
  left: 50%;
}
.available {
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央揃え */
  position: fixed;
  bottom: 10;
}
