.BookImg {
  display: flex;
  justify-content: center;
  //margin-bottom: -5%;
	
}

.Img {
  background-color: #f4e9d7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11%;
  border-radius: 10%;
  top: 1vh;
  box-shadow: 0vh 1.5vw 1.3vw 0.5vw rgb(27 55 99 / 25%);
	padding-bottom: 4vh;
}
