.card {
  display: flex;
  justify-content: center;
  height: 160px;
  width: 100px;
  background-color: #f4e9d7;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px gray;
  top: 1vh;
  align-items: center;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.stock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-right: 10px;
}