.booklist {
  display: grid;
  height: 2vw;
  grid-template-columns: repeat(3, 1fr); /* 3列レイアウト */
  padding: 7%;
  gap: 5%;
  list-style: none;
  justify-content: center;
  position: relative;
  left: 1%;
  margin-bottom: -30vh;
  
}
.card {
  width: 100%; /* 親要素のグリッドサイズに合わせる */
  display: flex;
  justify-content: center;
  position: relative;
  list-style: none;
}
.layout {
  &:active {
    transform: scale(0.96);
  }
}
.stock {
  position: relative;
  top: -4.5svh;
  right: -2vw;
  font-size: 10px;
}
