.BookImg {
  display: flex;
  justify-content: center;
  //margin-bottom: -5%;
}

.Img {
  background-color: #f4e9d7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11%;
  border-radius: 10%;
  top: 1vh;
  box-shadow: 1px 1px 4px gray;
  padding-bottom: 4vh;
}
