.whole {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1svh;

  .title {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    //   text-align: center;
    align-items: center;
    justify-content: center;
    color: #635038;
    font-weight: bold;
    border: 1px solid #635038;
    border-radius: 7px;
    width: 17vh;
    height: 4.5vh;
  }

  .bar {
    margin-top: 3vh;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 0 20px;
  margin-top: -70%;

  color: #635038;
  font-family: "Segoe UI", "Noto Sans JP", sans-serif;
}

.subtitle {
  font-size: 24px;
  margin: 16px 0 8px;
}

.description {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.6;
  margin-bottom: 32px;
}
