.whole {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    //   text-align: center;
    align-items: center;
    justify-content: center;
    color: #635038;
    font-weight: bold;
    border: 1px solid #635038;
    border-radius: 7px;
    width: 17vh;
    height: 4.5vh;
  }

  .bar {
    margin-top: 3vh;
  }
}

