.Text {
	color: #635038;
	font-weight: bold;
	font-size: 12px;
	background-color: #F4E9D7;
	width: 20%;
	height: auto;
	border-radius: 7px;
	padding: 5 10;
	margin: 0 auto;
	margin-bottom: 3%;
	text-align: center;
}