.noRec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #635038;
  margin-top: 3svh;
}

.title {
  margin-top: 10px;
  font-weight: bold;
}

.diagText {
  font-size: 14px;
  font-weight: bold;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 6svh;
  padding-bottom: 10svh;
}

.diagDesc {
  font-size: 10px;
}
