.title {
  text-align: center;
  color: #635038;
}
.bar {
  height: 2px;
  background-color: #bb9c77;
  margin: 2svh auto;
  width: 96%;
  margin-bottom: 4svh;
}

.btnContainer {
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-bottom: 3svh;
}
