@import url("https://fonts.googleapis.com/css2?family=Jua&family=Yaldevi:wght@200..700&family=Yuji+Mai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&family=Sumana:wght@400;700&family=Yaldevi:wght@200..700&family=Yuji+Mai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");

.content {
  background-color: #f4e9d7;
  position: relative;
  right: -5%;
  width: 90vw;
  height: 20vh;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 8px 1px rgb(27 55 99 / 35%);
  margin-bottom: 4%;
}

.img {
  margin: 16px;
  border-radius: 10px;
  position: relative;
  right: -7%;
  width: fit-content;
  height: 14.5svh;
  box-shadow: 0vh 0.2vw 0.8vw 0.6vw rgb(27 55 99 / 25%);
}

.text {
  width: 100%;
  color: #635038;
  font-weight: 599;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: -5%;
  height: fit-content;
}

.bookName {
  font-size: 11px;
  text-align: center;
}

.return {
  color: #635038;
  display: flex;
  font-weight: bold;
  font-size: 13px;
  width: fit-content;
  text-align: center;
}

.returnTime {
  font-family: "Jua", sans-serif !important;
  text-align: center;
  width: fit-content;
}

.day {
  color: #77634b;
  font-size: 10.3px;
  border: #77634b solid 1.5px;
  border-radius: 20px;
  background-color: #fffbf5;
  width: fit-content;
  height: fit-content;
  padding: 1% 5% 1% 5%;

  font-weight: bold;
}

.loading {
  position: relative;
  top: -28svh;
  z-index: 111;
}

.expired {
  background-color: #d5480c !important;
  color: #fffbf5 !important;
}
.expiredDay {
  color: #d5480c !important;
}
.dueToday {
  color: #d5480c !important;
}
.noRentalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
}
.noRental {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #6b4f3b; 
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
  padding-bottom: 8px;
  border-bottom: 2px solid #a98966; 
  display: inline-block;
  background-color: #fdfaf5; 
  margin: 40px auto;
}
