.whole {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 5svh;
  padding: 2vh 0 6vh 0;

  .icon {
    border: 8px solid #bb9c77;
    border-radius: 50%;
    box-shadow: 0px 2px 10px 0px gray;
    cursor: pointer;
    transition: filter 0.3s ease, transform 0.2s ease;
  }

  .icon:hover {
    filter: brightness(0.8);
    transform: scale(1.02);
  }

  .loadingButton {
    color: #635038;
    font-size: 1.5vh;
    border: 1px solid #635038;
    border-radius: 7px;
    background: #fffbf5;
    padding: 1% 3.3%;
    box-shadow: 0.5px 3px 4px rgba(123, 98, 60, 0.6); 
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  .confirmButton {
      float: right;
      background: #8F7453;
      font-size: 1.5vh;
      border: 1px solid #6F4B1F;
      border-radius: 7px;
      color: #fffbf5;
      padding: 1% 3.3%;
      box-shadow: 0.5px 3px 4px rgba(123, 98, 60, 0.6); 
      -webkit-transition: all .3s;
      transition: all .3s;
  }

  .editbutton {
      float: right;
      color: #635038;
      font-size: 1.5vh;
      border: 1px solid #635038;
      border-radius: 7px;
      background: #fffbf5;
      padding: 1% 3.3%;
      box-shadow: 0.5px 3px 4px rgba(123, 98, 60, 0.6); 
      -webkit-transition: all .3s;
      transition: all .3s;
  }

  .editbutton:active{
    transform: scale(0.9,0.9);
  }

  .editbutton::after{
    transform: scale(1.0,1.0);
  }

  .username {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;

    .subtitle {
      width: fit-content;
      text-align: left;
      color: #77634b;
      font-size: 1.8vh;
      font-weight: 400;
      padding-bottom: 0.5vh;
    }

    .name{
      width: 60%;
      background-color:#fffbf5;
      border: none;
      margin: 0;
      margin-left: 4%;
      padding: 1vh 0;
      border-radius: 0;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: #77634b;
      text-align: center;
      font-size: 2vh;
      border-bottom: 2px solid #BB9C77;
    }
  }

  .studentId {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
    margin-right: 8%;

    .subtitle {
      width: fit-content;
      text-align: left;
      color: #77634b;
      font-size: 1.8vh;
      font-weight: 400;
      padding-bottom: 0.5vh;
    }

    .id{
      width: 60%;
      background-color:#fffbf5;
      border: none;
      margin: 0;
      padding: 1vh 0;
      border-radius: 0;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: #77634b;
      text-align: center;
      font-size: 2.4vh;
      border-bottom: 2px solid #BB9C77;
      letter-spacing: 0.3vw;
    }
  }
  
  .taglist{
    width: 90%;

    .subtitle {
      height: 2.5vh;
      width: fit-content;
      text-align: left;
      color: #77634b;
      font-size: 1.8vh;
      font-weight: 400;
      border-bottom: 1.4px solid #77634b;
      padding-bottom: 0.5vh;
      margin-left: 5vw;
    }
  }

  .history{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    
    .subtitle{
      height: 2.5vh;
      width: fit-content;
      text-align: left;
      color: #77634b;
      font-size: 1.8vh;
      font-weight: 400;
      border-bottom: 1.4px solid #77634b;
      padding-bottom: 0.5vh;
    }
    .histlist{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3vw;

      .noRental {
        grid-column: 1 / -1; /* グリッドの全列にまたがる */
        text-align: center;
        color: #77634b;
        font-size: 1.6vh;
        padding: 2vh 0;
        margin: 2vh 0;
      }

      .title {
        position: relative;
        top: -3.8svh;
        right: -2vw;
        font-size: 8px;
        width: 80%; // カード幅いっぱい
        white-space: normal; // 自動改行
        word-break: break-all; // 長い単語も折り返す
        text-align: center; // 中央寄せ（お好みで）
        margin-top: 4px; // カード内での余白調整
      }

    }
  }

  .backbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .comment {
    font-size: 9px;
    position: relative;
    margin-top: -4%;
    color: #635038;
    font-weight: 300;
  }
}

.percent{
  display: flex;  
  justify-content: space-between;
  font-size: 17px;
  color: #635038;
  font-weight: 300px;
  margin-left: 13svw;
  margin-right: 13svw;
  margin-top: 7svh;
}