.contents {
  display: flex;
  justify-content: center;
}

.searchContainer {
  display: flex;
  padding-left: 18px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  // border: 1px solid lightgray;
  border-radius: 9px;
  background-color: #f0eded;

  > input {
    border: none !important;
    background-color: #f0eded;

    &:focus {
      outline: none;
    }
  }
}

.searchBar {
  background-color: #f0eded;
  font-size: 14px;
  font-weight: bold;
}

.searchContainer > input::placeholder {
  color: #c8c7c5;
}

.searchIcon {
  color: #a3a3a3;
  position: relative;
  right: -30px;
}
