.BaseBtn {
  display: flex;
  align-items: center; /* 縦方向中央揃え */
  justify-content: center; /* 横方向中央揃え */
  text-align: center;
  height: 50px;
  width: 100px;
  font-size: 11px;
  border-radius: 10px;
  border: none;
  background-color: #e2999b;
  color: #31291f;
  font-weight: bold;
  box-shadow: 0px 3px 8px 1px rgb(27 55 99 / 25%);
}

.BaseBtn:active {
  transform: scale(0.9);
}
