.selectbox {
  display: flex;
  position: relative;
  margin-top: 2%;
  align-items: center;

  .periodselect {
    width: 35%;
    margin-left: 7%;
    position: relative;
  }

  .periodafter::after {
    position: absolute;
    content: "\25bc";
    color: #ffffff;
    font-size: 0.7rem;
    top: 25%;
    right: 0.5rem;
    pointer-events: none;
  }
}