@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;700&display=swap");

.header{
    height: 10%;
}
.h1{
    padding: 20px;
    color: #FFFBF5;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 36;
}