.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10%;
  position: relative;
  left: -2%;
  gap: 15%;
}

.BtnRight {
  flex-direction: column;
  width: 23%;
}

.BtnLeft {
  flex-direction: column;
  width: 23%;
}
