.BtnRight {
	display: flex;
  flex-direction: column;
  align-items: center; /* 中央揃え */
  position: fixed;
	bottom: 10;
	right:51%;
	
}

.BtnLeft {
	display: flex;
  flex-direction: column;
  align-items: center; /* 中央揃え */
  position: fixed;
	bottom: 10;
	left: 51%;
	
}

.BtnCenter {
	display: flex;
  flex-direction: column;
  align-items: center; /* 中央揃え */
  position: fixed;
	bottom: 10;
}