.Title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5%;
  color: #635038;
  word-break: keep-all;
}

.Deadline {
	font-size: 15px;
  font-weight: bold;
	color: #635038;
}
.Day {
	color: #77634B;
    font-size: 12px;
    font-family: "Sumana", serif !important;
    position: relative;
    top: 3vh;
    border: #77634B solid 1px;
    border-radius: 32px;
    background-color: #FFFBF5;
    width: 50%;
    height: 3vh;
    text-align: center;
    line-height: 2.5vh;
    font-weight: bold;
}