.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #635038;
  gap: 30px;
  position: relative;
}

.title {
  font-size: 33px;
}

.desc {
  position: absolute;
  top: 7svh;
  right: 35%;
}

.reason {
  width: 95%;
  position: relative;
  color: #635038;
}

.tech {
  margin-top: 2svh;
  font-weight: bold;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4svh;
}

.btnContainer {
  margin-top: 36svh;
}

.reasonTitle {
  text-align: center;
}

.reasonImage {
  margin-top: 2svh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  top: -7.5svh;
}

.reasonTextContainer {
  position: absolute;
  width: 73%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 111;
  top: 3.5svh;
}

.reasonText {
  margin: 1svh;
  font-size: 15px;
}
