
.p {
	font-size: 32px;
	font-family: "Abril Fatface", serif;
  font-weight: 700;
  font-style: normal;
	color: #8D7659;
}
.loading {
  display: flex;
  flex-direction: column;
  align-items: center; /* 水平方向の中央揃え */
  justify-content: center; /* 垂直方向の中央揃え */
  height: 80vh; /* 画面全体の高さを確保 */
  text-align: center; /* テキストを中央揃え */

}
